@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
.body{
    background-image: url("images/bg-01.jpg");
    min-height: 755px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(75, 35, 84);
}
.body::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,rgba(0,168,255,0.5), rgba(185,0,255,0.5));
    position: absolute;
    left: 0;
    bottom: 0;
}
.loginform{
    background-color: white;
    width: 390px;
    height: 700px;
    border-radius: 12px;
    z-index: 1;
}
h1{
    font-size: 30px;
    line-height: 36px;
}
.input{
    border-radius: 25px;
    color: rgb(75, 35, 84);
}
.btn{
    background-color: #bd59d4;
    color: white;
    border-radius: 25px;
    width: 150px;
}
.btn:hover{
    background-color: #8c419c;
    color: white;
}
.icon{
    border: 1px solid rgb(189, 188, 188);
    height: 50px;
    box-shadow: 2px 2px 6px 4px #adacad;
}
